/*
 * Mui base
 * ver: 0.4
 */

/* Reset  */
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, fieldset, textarea { margin: 0; }
ol, ul { list-style: none; padding: 0 }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
/* Typography */
body { font:14px/1.5 Arial, Sans-serif; color: #1a1a1a; background-color: #fff; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .4em 0; color: #333; font-family: Arial,"Microsoft YaHei"; font-weight: normal; }
h1 { font-size:1.8em }
h2 { font-size:1.6em }
h3 { font-size:1.4em }
h4 { font-size:1.2em }
h5, h6 { font-size:1em }
p { margin: 0 0 20px }
blockquote { margin:1em 2em; padding:15px; border-left:6px solid #ddd; color:#444; }
pre { margin:10px 0; padding:1em; border: 1px solid #ddd; background:#f7f7f0; color:#333; font-family:Monaco }
a { text-decoration:none; color:#2a2a2a }
a:hover { color:#ff7d00 }
/* Common */
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
