/*
 * Mui style
 * ver: 0.4
 */
.bg { background:#eee}
.wrap { width:90%; max-width: 960px; margin:0 auto; background: #fff;}
.main { padding: 2em 3em; }
/*typo*/
.typo { font-size:16px;line-height:1.7 }
.typo p { margin-bottom:1.5em; }
.typo blockquote p { margin:0 }
.typo ul, .typo-ul { margin-left: 1.3em; list-style: disc; }
.typo ol, .typo-ol { margin-left: 1.9em; list-style: decimal; }
hr { border: none; border-bottom: 1px solid #cfcfcf; margin-bottom: 1.5em; height: 1px; }
small, .typo-small { font-size: 0.9em; color:#999}
/*Table*/
.table { width:100%; line-height:1.5; }
.table th, .table td { padding:0.5em 1em; border:1px solid #cbcbcb; }
.table th { font-weight:bold; text-align:left; }
.table tbody tr:nth-child(2n) {
background:#fafafa;
}
.table tbody tr:hover { background:#f0f0f0; }
/*Button*/
.button { display: inline-block; padding: 0.5em 1em; font-size: 100%; line-height: normal; text-align: center; vertical-align: middle; cursor: pointer; color: #333; background-color: #fff; background-image: none; border: 1px solid transparent; border-radius: 4px; filter:chroma(color=#000000); }
.button-block { display:block; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.button-primary { color: #fff; background-color:#337ab7; }
.button-primary:hover, .button-primary:focus { color: #fff; background-color: #286090; }
.button-success { color: #fff; background-color:#5cb85c; }
.button-success:hover, .button-success:focus { color: #fff; background-color: #449d44; }
.button-info { color: #fff; background-color: #5bc0de; }
.button-info:hover, .button-info:focus { color: #fff; background-color: #31b0d5; }
.button-warning { color: #fff; background-color:#f0ad4e; }
.button-warning:hover, .button-warning:focus { color: #fff; background-color: #ec971f; }
.button-danger { color: #fff; background-color:#d9534f; }
.button-danger:hover, .button-danger:focus { color: #fff; background-color: #c9302c; }
/*Form*/
.form input[type="text"], .form input[type="password"], .form select, .form textarea { display: block; width: 100%; width:95%\9; padding: 0.5em 0.6em; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form input[type="text"]:focus, .form input[type="password"]:focus, .form select:focus, .form textarea:focus { outline: 0; border-color: #129fea; }
.form input[type="file"]:focus, .form input[type="radio"]:focus, .form input[type="checkbox"]:focus { outline: thin solid #129fea; outline: 1px auto #129fea; }
.form .m-checkbox, .form .m-radio { margin: 0.5em 0; display: block; }
.form select { height: 2.25em; border: 1px solid #ccc; background-color: white; }
.form label { margin: 0.5em 0 0.2em; }
.form fieldset { margin: 0; padding: 0.35em 0 0.75em; border: 0; }
.form legend { display: block; width: 100%; padding: 0.3em 0; margin-bottom: 0.3em; color: #333; border-bottom: 1px solid #e5e5e5; }
.form-stacked input[type="text"], .form-stacked input[type="password"], .form-stacked select, .form-stacked label, .form-stacked textarea { display: block; margin: 0.25em 0; }
.form-inline input[type="text"], .form-inline input[type="password"], .form-inline select, .form-inline textarea { display:inline-block; width:auto; vertical-align:middle }
